@model StudentManagementSystem.Models.Student

@{
    ViewData["Title"] = "Update Student Details";
}

<form method="post" asp-controller="Admin" asp-action="EditStudent">
    <div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="StudentID"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="StudentID" class="form-control" readonly/>
                        <span asp-validation-for="StudentID" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="StudentFirstName"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="StudentFirstName" class="form-control" readonly />
                        <span asp-validation-for="StudentFirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="StudentLastName"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="StudentLastName" class="form-control" readonly/>
                        <span asp-validation-for="StudentLastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="StudentCourse"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="StudentCourse" class="form-control" />
                        <span asp-validation-for="StudentCourse" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    @*<div class="col-6 offset-4 row">*@
                    <div class="col-4 offset-4">
                        <input type="submit" class="btn btn-info w-100" value="Update" />
                    </div>
                </div>
            </div>
            </div>
    </div>
</form>

